<div class="jumbotron">
  <div class="container">
    <h1 class="th-logo-text display-4 text-muted">Development</h1>
    <h3 class="th-header-message display-6">
      Full-stack web and mobile development.
    </h1>
  </div>
</div>

<div class="container">
  <div>
    <i class="fa fa-quote-left fa-2x fa-pull-left fa-border"></i>
    We'll collaborate to help you deliver your project on time and built to modern standards.
    From mobile apps, through websites to enterprise level solutions.    
  </div>
  
</div>