<div class="jumbotron">
  <div class="container">
    <h1 class="th-logo-text display-4 text-muted"><%= title %></h1>
    <h3 class="th-header-message  display-6">
      Enterprise, web and mobile development. 
      Digital education.
  </div>
</div>

<div class="container">
  <div>
    <i class="fa fa-quote-left fa-2x fa-pull-left fa-border"></i>
    <p>We are a Cambridge, UK based consultancy with a proven track record of delivering
    high quality, on-time software projects and innovative programming courses.
    </p>
    <br>
    <p>
      Treehouse Ideas are customer first, providing solutions and teams for enterprise applications through
       full-stack web and mobile applications.
      Our experience will help you deliver your project on time, built to modern standards.
    </p>
  </div>

  <div class="th-section row">
    <div class="col-md-6">
      <p>We also create and deliver innovative programming courses for businesses, executives, schools and clubs.</p>
      <p><a class="btn btn-secondary" href="education" role="button">More &raquo;</a></p>
    </div>
  </div>
   
  <h3 class="th-section text-muted">Clients</h3>
  
  <div class="th-clients row">
    <div class="card-deck">
      <div class="card">
        <div class="card-block">
          <a href="http://www.imd.org/">
            <img class="rounded" src="assets/imd.jpg" height=100>
          </a>
          <p class="card-text">We developed full-stack web and mobile course management and networking software,
            enhanced and supported LMS systems and created digital education courses.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <a href="https://www.globaldistribution.com/">
            <img class="rounded" src="assets/global.png" height=60>
          </a>
          <p class="card-text">We architected a solution to migrate from a SAP legacy system to a
            customized partner and product database with web management portal.</p>
        </div>
      </div>
    </div>
  </div>
    
</div>
