<div class="jumbotron">
  <div class="container">
    <h1 class="th-logo-text display-4 text-muted"><%= title %></h1>
    <h3 class="th-header-message  display-6">
      Web and mobile development. 
      Digital education.
  </div>
</div>

<div class="container">
  <div>
    <i class="fa fa-quote-left fa-2x fa-pull-left fa-border"></i>
    We are a Cambridge, UK based consultancy with a proven track record of delivering
    high quality, on-time software projects and leading edge programming courses.
  </div>

  <br>
  
  <div class="th-section row">
    <div class="col-md-6">
      <h2>Development</h2>
      <p>We engage in modern full-stack web and mobile development.
        Rely on our expertise to deliver your application.</p>
      <p><a class="btn btn-secondary" href="development" role="button">More &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Digital Education</h2>
      <p>We create and deliver programming based courses for businesses, schools and clubs.</p>
      <p><a class="btn btn-secondary" href="education" role="button">More &raquo;</a></p>
    </div>
  </div>

  <h3 class="th-section text-muted">Our Clients</h3>
  
  <div class="th-clients row">
    <div class="card-deck">
      <div class="card">
        <div class="card-block">
          <a href="http://www.imd.org/">
            <img class="rounded" src="assets/imd-logo.png" height=70>
          </a>
          <p class="card-text">We have delivered software and digital education courses for IMD.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <a href="http://www.featurist.co.uk/">
            <img class="rounded" src="assets/featurist-logo.png" height=60>
          </a>
          <p class="card-text">We have worked successfully with Featurist on enterprise level web applications.</p>
        </div>
      </div>
    </div>
  </div>

</div>
