<div class="container">
  <div class="th-contact">
    <a class="btn btn-success" href="mailto:alex.treehouse.ideas@gmail.com">
      <i class="fa fa-envelope"></i>Contact Us
    </a>
  </div>
  <hr>
  <footer>
    <p>&copy; Treehouse Ideas Ltd 2018</p>
  </footer>
</div>